<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css"
      integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Add entry team orebro</title>
</head>
<body>
<div class="jumbotron container text-center col-lg-8 col-lg-offset-3">
    <form class="form-group" onsubmit="return checkUserInput()">
        <div class="form-group">
            <h2  class="text-danger"><strong>Welcome</strong></h2>
            <input type="text" class="form-control" placeholder="Write title here" id="title">
            <br>
            <textarea class="form-control" id="textarea" rows="3" placeholder="Content"></textarea>
        </div>

        <div class="form-group">
            <label for="photo" style="float: left">Upload a photo</label>
            <input type="file" class="form-control-file" id="photo" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted"></small>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary">Publish</button>
    </form>

    <form action="/" method="get">
        <button  class="btn btn-outline-warning float-left">Back to start</button>
    </form>
</div>
<script>
    function checkUserInput() {
        var title = document.getElementById("title").value;
        var textarea = document.getElementById("textarea").value;

        if (title.length == 0) {
            alert("Title is mandatory!");
            return false;
        }else if (textarea.length == 0){
            alert("You have to write something in content!");
            return false;
        }
        alert("Entry added!");
        submitOK = true;
    }
</script>

</body>
</html>