<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css"
      integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Add entry team orebro</title>
</head>
<body>
<div class="jumbotron container text-center col-lg-8 col-lg-offset-3">
    <form>
        <div class="form-group">
            <h2><strong>Welcome</strong></h2>
            <input type="text" class="form-control" placeholder="Write title here" id="inputDefault">
            <br>
            <textarea class="form-control" id="textarea" rows="3" placeholder="Content"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleInputFile" style="float: left">Upload a photo</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted"></small>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary">Publish</button>
    </form>
</div>


</body>
</html>