<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css"
      integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Add entry team orebro</title>
</head>
<body>
<div class="jumbotron container text-center col-lg-8 col-lg-offset-3">
    <h2>Edit Entry</h2>
    <br>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" th:value="${entry.title}" id="title">
            <br>
            <textarea class="form-control" id="content" th:text="${entry.content}" rows="8" ></textarea>
        </div>

        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02">Upload photo</label>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary">Save changes</button>
    </form>
</div>


</body>
</html>