<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css"
      integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Add entry team orebro</title>
</head>
<body>
<div class="jumbotron container text-center col-lg-8 col-lg-offset-3">
    <h2 class="text-danger">Edit Entry</h2>
    <br>
    <form class="form-group" action="/save" method="put" onsubmit="return checkUserInput()">
        <div class="form-group">
            <input type="hidden" th:value="${entry.id}" id="id" name="id">
            <input type="text" class="form-control" th:value="${entry.title}" id="title" name="title">
            <br>
            <textarea class="form-control" id="content" name="content" th:text="${entry.content}" rows="8" ></textarea>
        </div>

        <div class="form-group">
            <label for="exampleInputFile" style="float: left">Upload a photo</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted"></small>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary">Save changes</button>
    </form>

    <form action="/" method="get">
        <button  class="btn btn-outline-warning float-left">Back to start</button>
    </form>
</div>
<script>
    function checkUserInput() {
        var title = document.getElementById("title").value;
        var content = document.getElementById("content").value;

        if (title.length == 0) {
            alert("Title is mandatory!");
            return false;
        }else if (content.length == 0){
            alert("You have to write something in content!");
            return false;
        }
        alert("Saved changes!");
        submitOK = true;
    }
</script>

</body>
</html>