<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css"
      integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Diary team Orebro</title>
</head>
<body>
<div class="jumbotron container text-center col-lg-8 col-lg-offset-3">

    <h1 class="text-danger"><strong>My Diary</strong></h1>
    <br>
    <br>

    <div class="row float-right">
            <form action="/add" method="get">
                <button type="submit" class="btn btn-danger ">New Entry</button>
            </form>
    </div>
    <br>
    <br>

    <div class="cards" >
        <div class="card" th:each="entry:${entries}">
            <div class="card-body">
                <h4 class="card-title" th:text="${entry.title}">Card title</h4>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${#dates.format(entry.published, 'yyyy-MM-dd HH:mm')}"></h6>
                <p class="card-text" th:text="${entry.content}">SVestibulum sed interdum magna. Suspendisse justo nibh,
                    interdum et lectus at, ultricies ultricies risus. Donec semper, orci ac fermentum maximus, ex neque
                    dictum risus, in eleifend felis ligula sit amet leo. Suspendisse vitae lorem id sem convallis congue
                    sit
                    amet nec eros. Donec consectetur lacus velit, id sollicitudin ex vestibulum vitae. Duis a orci non
                    augue
                    sodales porta. Vestibulum efficitur mi id felis fermentum venenatis. Nulla facilisi.</p>

                <a th:href="@{/edit/(id=${entry.id})}" class="card-link" type="submit">Edit</a>
                <a th:href="@{/delete/(id=${entry.id})}" class="card-link" type="submit">Delete</a>
            </div>
        </div>
        <br>
    </div>
</div>
</body>
</html>